{{#section 'header'}}
	{{> iter}}
{{/section}}

{{#section 'header'}}
		{{> iter}}
{{/section}}
    
    <section class="hero-wrap hero-wrap-2" style="background: #d11f41;">
      {{!-- <div class="overlay"></div> --}}
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Order History.</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Order History <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container">
				<div class="row d-flex">
					<div class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch">
						<div class="img" style="background-image: url(images/about.jpg); border"></div>
					</div>
					<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">					
							<div class="col-md-12">
								<div class="order-summary clearfix">
									<div class="section-title">
										<h3 class="title">Orders</h3>
									</div>
									<table class="shopping-cart-table table">
										<thead>
											<tr>
												<th>Course</th>
												<th class="text-center">Date</th>
												<th class="text-center">Status</th>
												<th class="text-center">Amount Paid</th>
												{{!-- <th class="text-right"></th> --}}
												<th class="text-right"></th>
											</tr>
										</thead>
										<tbody>
											{{#if ords}}
												{{#each ords}}
													<tr>
														<td class="text-center"><strong>{{this.course}}</strong><br></td>
														<td class="text-center"><strong>{{this.order_date}}</strong><br></td>
														<td class="text-center"><strong>{{this.status}}</strong><br></td>
														<td class="text-center"><strong class="primary-color">{{this.amount_paid}}</strong></td>
														{{!-- <td class="text-center"><strong class="primary-color"><a href="/details/{{this.checkoutRequestID}}">VIEW</a></strong></td> --}}
														<td class="text-center"><strong class="primary-color"><a onclick="approvePayment('{{@key}}','approved')">Approved</a></strong></td>	
														<td class="text-center"><strong class="primary-color"><a onclick="approvePayment('{{@key}}','revoked')">Revoked</a></strong></td>		
														<td class="text-center"><strong class="primary-color"><a onclick="approvePayment('{{@key}}','pending')">Pending</a></strong></td>										
													</tr>
												{{/each}}
											{{else}}
											{{/if}}								
										</tbody>								
									</table>							
								</div>
							</div>
					</div>
				</div>
			</div>
		</section>

	<section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">
					<div class="col-md-3 ftco-animate">
						<a href="images/image_1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/course-1.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/image_2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/image_2.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/image_3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/image_3.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/image_4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/image_4.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
        </div>
    	</div>
    </section>
{{#section 'footer'}}
	{{> foot}}
{{/section}}


{{#section 'script'}}
	<script>
		function approvePayment(id,status) { 

          if(author && post){                      
            $.ajax({
              url: "/approvePayment",
              type: "POST",
			  data:{ordid:id, status:status},
              success: function(text) {				
                if(text){                      
                  alert("Payment Approved");
                } else{
                  alert("An Error Occured try again later.");
                }
              }
            });    
          }else{
            alert("Kindly fill out all details on the form .");
            $('#btnsub').prop('disabled', false);
          }
		}
  </script>
{{/section}}