{{#section 'header'}}
		{{> iter}}
{{/section}}
    
    <section class="hero-wrap hero-wrap-2" style="background: #d11f41;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Chats</h1>
          </div>
        </div>
      </div>
    </section>

		
		<section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-7 ftco-animate">         
                <div class="pt-5 mt-5">
                  <h3 class="mb-5 h4 font-weight-bold">View Chats</h3>
                  <!-- START comment-list --> 
                  <ul class="comment-list">
                    {{#if accs}}
                        {{#each accs}}
                          <li class="comment">
                            <div class="vcard bio">
                              <img src="images/teacher-1.jpg" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                              <h3>{{this.firstname}} {{this.lastname}}</h3>
                              <div class="meta mb-2">Phone: {{this.phone}}</div>
                              <p>{{this.message}}</p>
                              <p><a href="/accpay/{{@key}}" class="reply">view payment</a><a href="/viewchats/{{@key}}" class="reply">view chats</a></p>
                            </div>
                          </li>
                        {{/each}}
                      {{else}}                            
                    {{/if}}               
                  </ul>
                  <!-- END comment-list -->           
            </div>
          </div>
          
					<div class="col-md-5 sidebar ftco-animate">
						<div class="sidebar-box">
							<div class="search-form">
								<div class="form-group">
								<label for="name">Send Message To Chat With Admin</label>
									<input type="text" id="message"class="form-control" placeholder="enter link">
								</div>
								<div class="form-group">
									<input type="submit" id="btnsub" value="Post Link" class="btn py-3 px-4 btn-primary" onclick="sendChat()">
								</div>
							</div>
						</div>

					</div><!-- END COL -->
        </div>
      </div>
          
		</section>
{{#section 'footer'}}
	{{> foot}}
{{/section}}


{{#section 'script'}}
	<script>
		function sendChat() {

      var message=document.getElementById("message").value;  

          if(message){            
            $('#btnsub').prop('disabled', true);           
            $.ajax({
              url: "/uploadchat",
              type: "POST",
              data:{message:message},
              success: function(text) {				
                if(text){                      
                  alert("Pst has been updated successfully");
                  $('#exampleModal').modal('toggle');
                  document.getElementById("message").value=""; 
                  $('#btnsub').prop('disabled', false);
                } else{
                  alert("An Error Occured try again later.");
                  $('#btnsub').prop('disabled', false);
                }
              }
            });    
          }else{
            alert("Kindly fill out all details on the form .");
            $('#btnsub').prop('disabled', false);
          }
		}
  </script>
{{/section}}